<div class="flex p-8 items-start justify-start w-full h-full border-2 border-dark_primary bg-dark_secondary text-primary-500 text-xl">

  <div id="container" class="w-full">

    <div id="header" class="text-center w-full flex flex-col justify-center  items-center">
      <span>
        <h2 class="font-extrabold text-4xl">Bem vindo ao DietSavvy!</h2>
      </span>
      <span>
        <h4 class="text-2xl italic">Vamos dar os primeiros passos!</h4>
      </span>
    </div>

    <div id="main-content" class="p-2 m-2 w-full h-full mt-20">

      <div id="step-1" class="w-full h-[600px] m-2 p-2 ">

        <div class="flex flex-col justify-center items-center">
          <span class="text-3xl">
            Você sabe sua ingestão calorica?
          </span>
          <!-- <span class="text-xl text-center mt-4">
            <p>Caso não, não se preocupe!  Vamos te ajudar a descobrir isso.</p>
            Para comecar, adicione o seu peso e a sua altura.
          </span> -->
        </div>

        <div class="grid grid-cols-2">

          <div class="col-span-1 h-full flex  items-start">

            <div class="w-[300px] h-[500px] border-2 border-solid border-primary-500 m-4 p-2 flex justify-start items-start  ">
              <div class="flex justify-center items-center gap-2">
                <i class="bi bi-fire"></i>

                  <input type="text" placeholder="ex: 1200" class=" p-2 w-full bg-black border-solid rounded-lg" pattern="[0-9]">


                <span>Kcal</span>
              </div>
            </div>

          </div>

          <div class="col-span-1">

          </div>

        </div>



      </div>

  </div>

</div>
